<form
  hx-post="/api/todos"
  hx-target="#todos"
  hx-swap="innerHTML"
  class="max-w-md"
>
  <div
    class="h-100 w-full flex items-center justify-center bg-teal-lightest font-iter"
  >
    <div class="bg-white rounded shadow p-6 m-4 w-full lg:max-w-lg">
      <div class="mb-4">
        <h1 class="text-grey-900">Todo List</h1>
        <div class="flex mt-4">
          <input
            name="todo"
            type="text"
            id="todo"
            class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-900"
            placeholder="htmx playground"
          />
          <button
            class="rounded-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            type="submit"
          >
            Add
          </button>
        </div>
      </div>
      <div id="todos">
        {%for task in tasks %}
        <div class="flex mb-4 items-center">
          <p class="w-full text-grey-darkest">{{ task.descriptions }}</p>
          <button
            class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded hover:text-white text-green-900 border-green-900 hover:bg-green-900"
          >
            Done
          </button>
          <button
            class="flex-no-shrink p-2 ml-2 border-2 rounded text-red-900 border-red-900 hover:text-white hover:bg-red-900"
          >
            Remove
          </button>
        </div>
        {% endfor %}
      </div>
      <!-- <div class="flex mb-4 items-center"> -->
      <!--   <p class="w-full line-through text-green">Submit Todo App Component to Tailwind Components</p> -->
      <!--   <button -->
      <!--     class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded hover:text-white text-grey border-grey hover:bg-grey">Not -->
      <!--     Done</button> -->
      <!--   <button -->
      <!--     class="flex-no-shrink p-2 ml-2 border-2 rounded text-red border-red hover:text-white hover:bg-red">Remove</button> -->
      <!-- </div> -->
    </div>
  </div>
</form>
